# Convex
NEXT_PUBLIC_CONVEX_URL=https://your-project.convex.cloud
CONVEX_URL=https://your-project.convex.cloud

# mirstat RPC
mirstat_RPC_URL=http://95.111.227.14:8332
mirstat_RPC_USER=mirstat
mirstat_RPC_PASS=your-password
